# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/


.aws/
